@use "../../scss/" as *;

.create-question-wrapper {
   width: 100vw;
   margin-top: 10vh;
   height: auto;
   @include flex(column, center, center);
   font-family: $font-family;

   h3 {
      @include heading-text;
   }

   .create-question-inner {
      width: 60%;
      margin: 25px auto;
      padding: 30px 45px 45px;
      border-radius: 15px;
      transition: all 0.3s;
      border: 1px solid rgb(14, 13, 13);
      background-color: $body-bg;

      @include tablet {
         width: 75%;
      }

      @include mobile {
         width: 95%;
         padding: 40px 20px 55px;
      }
   }

   .form-group {
      @include flex(column, center, flex-start, 1rem, 0.5rem);

      label {
         @include label;
      }

      label.bolder {
         font-weight: 900;
         font-size: 16px;
      }

      textarea {
         @include input;
         height: 100px;
      }
   }

   .nested-form-group {
      @include flex(row, center, center, 1rem, 1rem);

      .form-group {
         width: 100%;
      }

      @include mobile {
         display: unset;
      }
   }

   button {
      @include button;
      margin: 20px 0;
      float: right;
   }
}
