@use "../../scss/" as *;

.create-campaign-wrapper {
   width: 100vw;
   margin-top: 10vh;
   height: 90vh;
   border: 1px solid black;
   @include flex(column, center, center);
   font-family: $font-family;

   h3 {
      @include heading-text;
   }

   .create-campaign-inner {
      width: 550px;
      margin: auto;
      padding: 40px 55px 45px 55px;
      border-radius: 15px;
      transition: all 0.3s;
      border: 1px solid rgb(14, 13, 13);

      @include mobile {
         max-width: 90%;
      }
   }

   .form-group {
      label {
         @include label;
      }

      @include flex(column, center, flex-start, 1rem, 0.5rem);

      input,
      textarea {
         @include input;
      }

      textarea {
         height: 200px;
      }
   }

   button {
      @include button;
   }
}
